* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d4dde7;
}

/* This CSS code is related to the top header. */
.main-header {
    display: flex;
    background: rgb(44, 44, 48);
    height: 75px;
    width: 100%;
}
#name {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    background: rgb(102, 145, 105);
    margin-top: 10px;
    font-size: 40px;
    padding-bottom: 15px;
    color: rgb(44, 44, 48);
}

li a{
    color: rgb(102, 145, 105); 
}

li {
    padding: 15px 10px 0px 10px;
    list-style-type: none;
    display: inline;
    font-size: 25px;
}

.nav-titles {
    position: absolute;
    top: 40px;
    right: 30px;
}

/*This is for the CSS code regarding to the second header.*/
.header2 {
    position: relative;
    text-align: center;
    color: white;
}
.subtitle {
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: block;
    font-size: 30px;
    width: 200px;
    height: 50px;
    padding: 8px;
    background: rgb(102, 145, 105);
}
#image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* About Me CSS Code */
.about-me{
    position: relative;
}
.side-titles {
    position: absolute;
    top: 40px;
    display: block;
    color: rgb(27, 77, 27);
    font-size: 60px;
    width: 200px;
    margin-left: 61px;
    border-right: 5px solid rgb(27, 77, 27);
    height: 400px;
}

#biography {
    position: absolute;
    font-size: 18px;
    top: 50px;
    left: 280px;
    padding-left: 10px;
    color: rgb(27, 77, 27);
}

/* Work CSS Code */
.side-titles2 {
    display: block;
    position: relative;
    color: rgb(27, 77, 27);
    font-size: 60px;
    width: 200px;
    margin-left: 61px;
    border-right: 5px solid rgb(27, 77, 27);
    height: 300px;
    top: 500px;
}

/* Contact Me CSS Code */
.side-titles4 {
    position: absolute;
    color: rgb(27, 77, 27);
    font-size: 60px;
    width: 220px;
    margin-left: 40px;
    top: 1160px;
    border-right: 5px solid rgb(27, 77, 27);
    padding-right: 10px;
}
.contact-me {
   position: absolute;
   top: 1160px;
}

#card1 {
    position: absolute;
    top: 780px;
    left: 280px;
}

#card2 {
    position: absolute;
    top: 780px;
    left: 700px;
}

#card3 {
    position: absolute;
    top: 780px;
    left: 1120px;
}

#card4 {
    position: absolute;
    top: 780px;
    left: 1540px;
}

#contactMeCard {
    position: absolute;
    top: 1220px;
    left: 300px;
}